.footer {
	margin: 0 auto 60px;
	display: flex;
	max-width: 880px;
}

@media screen and (max-width: 900px) {
	.footer {
		max-width: 581px;
	}
}

@media screen and (max-width: 620px) {
	.footer {
		margin-left: 19px;
		margin-bottom: 36px;
		max-width: 320px;
	}
}